<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHGctIM4YwdCknA2kMuSa4F8xeY_Osegg</string>
	<key>GCM_SENDER_ID</key>
	<string>579482424180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tfmControl.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tfm-control</string>
	<key>STORAGE_BUCKET</key>
	<string>tfm-control.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579482424180:ios:297e76135357e3264e1221</string>
</dict>
</plist>